header {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
}
.header_container {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 50px;
  color: rgb(242, 248, 233);
  font-weight: 400;
  font-size: 1.7rem;
}
.header-logo {
  flex: 1;
  font-size: 30px;
  margin-right: 50px;
  pointer-events: none;
}
/* #header-clock {
    color: white;
  
  } */
#header-weather {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  /* pointer-events: all; */
}
.header-weather_prev {
  height: 60px;
}

.export-menu {
  display: flex;
  flex-direction: column;
}
