@import url(reset.css);
@import url(weather.css);
@import url(background.css);
@import url(clock.css);
@font-face {
  font-family: "Rubik";
  src: url("../src/font/Rubik-VariableFont_wght.ttf") format("truetype");
}
:root {
  --primary-color: rgb(47 56 63 / 75%);
  --hover-color: rgb(31, 71, 104);
  --background-color: rgb(23, 25, 58);
  --header-color: rgb(18, 28, 43);
}
body {
  /* background-image: url("../src/img/bg-dark.png"); */
  background-color: var(--background-color);
  background-repeat: repeat;
  font-family: "Rubik";
  user-select: none;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
}
.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 50px;
  color: rgb(242, 248, 233);
  font-weight: 600;
  font-size: 26px;
}
.header-logo {
  flex: 1;
  font-size: 30px;
  margin-right: 50px;
  pointer-events: none;
}
/* #header-clock {
  color: white;

} */
#header-weather {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  /* pointer-events: all; */
}
.header-weather_prev {
  height: 60px;
}
main .main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  padding: 0 10px;
}
.search-bar_container {
  width: 100vw;
}
#search-bar {
  display: block;
  height: 40px;
  width: 400px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 0 20px;
  font-size: 22px;
  margin: 50px auto 20px;
}
.links-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.weather_container {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 200px;
}
.link-card,
.folder-card,
.creation-card {
  height: 90px;
  min-width: 110px;
  /* margin: 5px auto 0; */
  /* padding: 10px; */
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  color: rgb(202, 202, 202);
  /* background-color: var(--primary-color); */
  transition: 0.2s;
}
.folder_container .link-card {
  background-color: transparent;
}
.link-card:hover,
.folder-card:hover,
.creation-card:hover {
  border: 1px solid var(--hover-color);

  /* background-color: var(--hover-color); */
  transition: 0.2s;
  color: rgb(255, 255, 255);
}
.folder-card.hidden {
  display: none;
  width: 0;
  height: 0;
  transition: 0.2s;
}

.link-main-information,
.link-main-information:visited {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.link-preview {
  flex: 1;
  padding: 10px 0;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
}
.link-name {
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;
  padding: 0 5px;
  font-weight: 400;
  text-align: center;
}
.link-card:hover .link-name,
.folder-card:hover .link-name,
.creation-card:hover .link-name {
  background-color: var(--hover-color);
}
.folder_container,
.creator_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  max-height: 80vh;
  width: 50vw;
  margin: 0 auto;
  border-radius: 10px;
  /* border: 2px solid rgba(255, 255, 255, 0.699); */
  background-color: rgb(0, 0, 0);
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.folder_container.active,
.creator_container.active {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.folder-header,
.creation-header {
  width: 100%;
  background-color: var(--hover-color);
  color: aliceblue;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.close-folder_button,
.close-creation_button {
  position: absolute;
  background-color: red;
  opacity: 0.8;
  font-size: 22px;
  font-weight: 600;
  width: 50px;
  height: 30px;
  top: 0;
  right: 0;
  transition: 0.2s;
}
.close-folder_button:hover,
.close-creation_button:hover {
  opacity: 1;
  transition: 0.2s;
}
.folder-links {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
}

.creation-form {
  flex: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 22px;
}
.element-type-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* border: 1px solid whitesmoke; */
}
.creator_container label {
  margin-left: 5px;
}

input[type="text"] {
  margin-left: 0;
  width: 80%;
  height: 40px;
  color: white;
  background-color: black;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}
#new-element-url {
  margin: 0 20px;
  height: 30px;
  border-radius: 5px;
  width: 60%;
}
#saveElement {
  height: 40px;
  width: 200px;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(30, 167, 60);
  transition: 0.2s;
}
#saveElement:hover {
  box-shadow: 0 0 10px rgb(43, 233, 84);
  background-color: rgb(43, 233, 84);
  transition: 0.2s;
}
#saveElement:active {
  box-shadow: 0 0 5px rgb(20, 114, 41);
  background-color: rgb(20, 114, 41);
  transition: 0.2s;
}
footer {
  position: sticky;
  bottom: 0;
  min-height: 20px;
  background-color: var(--header-color);
  color: white;
}
footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
